/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative; 
    z-index: 0;
    overflow: hidden;
}

header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    background-color: #ffd700;
}

header h1 {
    margin: 0;
    font-size: 36px;
    text-transform: uppercase; 
    letter-spacing: 2px; 
}

header p {
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.5; 
}

nav {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
}

nav a:hover {
    background-color: #fff; 
    color: #333; 
}


.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.post {
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
    opacity: 1;
    transition:cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s;
    position: relative;
}

.post:hover{
    -webkit-box-shadow: 8px 8px 40px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 40px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 40px 0px rgba(66, 68, 90, 1);
}

.post img {
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: inherit;
}

@media only screen and (min-width: 768px) {
   
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .post {
        width: calc(50% - 20px);
    }
}

@media only screen and (min-width: 992px) {
    .post {
        width: calc(33.33% - 20px);
    }
}

@media only screen and (max-width: 480px) {
    nav a {
        display: inline-block;
        margin: 5px;
        padding: 8px 15px;
        font-size: 14px; 
    }
}
